body{
    padding: 0px;
    margin: 0px;
    font-family:'Open Sans Condensed';
    background-image: url("../images/close-up-photo-of-small-jellyfish-1687678.jpg");
    }


.container{
    margin-top: 90px;
    margin-bottom: 50px;

}

h1,
#timeRemaining,
.q {
        color:#7CA69A;
        font-size: 30px;
        font-family: 'Open Sans Condensed';
        text-align: center;
        border-radius: 25px;
        padding: 10px;
        margin: 10px;
    
    }
.question{
    padding: 10px;
    color:#7CA69A;
    font-size: 25px;
    font-family: 'Open Sans Condensed';
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.optradio{
    font-size: 20px;
    margin: 10px;
}

.btn {
        color: #fff;
        background-color: #7CA69A !important;
        font-weight: 400;
        font-family: 'Open Sans Condensed';
}

.results{
    color:#7CA69A;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans Condensed';
}

